.header {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;

  .logo {
    font-size: 25px;
    text-decoration: none;
  }

  p {
    color: #000;
  }

  .header-right {
    display: flex;

    a {
      font-size: 20px;
      padding: 0 10px;
      text-decoration: none;
    }
  }

  .settings-header {
    font-size: 25px;
  }

  .active-content {
    display: block;
  }

  .inactive-content {
    display: none;
  }
}
